{% extends 'base.html' %}

{% block content %}
{{ super()}}
<p> There's so much we want to do in the world! When we organize our goals into smaller, bite-sized tasks, we'll be able to track them more easily, and complete them!

    <p> This is a web API to organize our tasks. We can create, read, update, and delete tasks as long as we have access to the Internet and our API is running!
    
        <ul>This web API also let us do some interesting features with our tasks. We are able to:
    
            <li>Sort tasks
            <li>Mark them as complete
            <li>Get feedback about our task list through Slack
            <li>Organize tasks with goals
            <li>... and more!
    
    
{% endblock %}